<!DOCTYPE html>
<html>
  <head>
    <title>Flask Template Example</title>
    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 100px;
      }
    </style>
  </head>
  <body>
    <div class="container">
     <h1>server ip adress: {{ ansible_default_ipv4['address'] }}</h1>
    </div>
  </body>
</html>
